body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(90deg, #a1d56d, #63b8d3);
  position: relative;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container .game {
  overflow: hidden;
  width: 512px;
  height: 768px;
  background: #000 url('../img/bg.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  box-shadow: 1px 0 30px 1px rgba(0, 0, 0, .5);
}

.game header {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 16px;
  box-sizing: border-box;
  visibility: hidden;
}

.game header .fraction {
  color: yellow;
}

.game .start {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.start img {
  width: 30%;
  animation: scale 1.5s ease-in-out infinite alternate;
}

.start span {
  color: #fff;
  font-size: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.explain {
  transform: scale(1.5);
  margin-left: 10%;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.popup {
  position: absolute;
  width: 315px;
  height: 315px;
  border-radius: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, .5);
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, .8);
}

.popup .title {
  width: 100%;
  text-align: center;
  margin: 16px 0 0 0;
  font-size: 2em;
  color: #f5d700;
}

.popup .endTime {
  color: #00cd00;
  text-align: center;
  width: 100%;
  margin: 32px 0 0 0;
  font-size: 3em;
}

.popup .bottom {
  width: 100%;
  text-align: center;
}

.popup .bottom p {
  font-size: 20px;
  color: #8d66bf;
}

.popup .bottom button {
  color: #fff;
  width: 145.5px;
  height: 62.5px;
  background: url('../img/play.png');
  background-size: cover;
  border: 0;
  outline: none;
}

@media (max-width: 1070px) {
  .explain {
    transform: scale(1.2);
    margin-left: 5%;
  }
}

@media (max-width: 880px) {
  .container .game {
    width: 100%;
    height: 100%;
  }

  .explain {
    display: none;
  }
}
